<div class="recipe-card">
  <div class="image-wrapper">
    <img src="{{ recipeItem.strMealThumb }}" alt="{{ recipeItem.strMeal }}" />
  </div>
  <div class="content">
    <h2 class="title">{{ recipeItem.strMeal }}</h2>
    <p class="meta">October 9, 2023 / <span class="author">Lucid Themes</span></p>
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consectetur metus aliquam lacus bibendum, 
      non sollicitudin diam dignissim. Suspendisse hendrerit ipsum eu sapien tincidunt...
    </p>
    <a class="read-more" [routerLink]="['../recipes', recipeItem.idMeal]">Continue Reading</a>
  </div>
</div>

