@use './../../../../styles/variables' as *;
@use './../../../../styles/mixins' as *;

// input{
//     // @include style-input;
//     // margin-bottom: 25px;
//     display: block
// }
.gender{
    margin-bottom: 25px;
}
mat-form-field{
    @include mat-input-component-style;

    @include mat-input-inside;

    margin-bottom: 9px;
    // mat-label{
    //     color: #757575 !important;
    // }
     
}
button{
    @include style-button;
    display: block;
    margin-bottom: 25px;
    padding: 0 !important;
    min-width: 103px;
}
.text{
    width: 100%;
    height: 100%;
    background-color: $mainRedColor;
    color: $whiteColor;
    padding: 10px 20px;

}
.flex{
    display: flex;
    gap: 25px;
}
input[type="radio"]{
    width: fit-content;
}
