@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

section{
    
    .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            text-align: center;
        }
    }

    img{
        width: 100%;
    }
    h3{
        @include heads-style;
        margin-bottom: 16px;
        margin-top: 32px;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .ingredients-container, .measures-container{
            border: 1px solid $borderColor;
            >div{
                padding: 12px;
            }
        }
        .ingredients-container{
            border-right: 0;
        }
    }
    // table{
    //     border-collapse: collapse;
    //     background: $whiteColor;
    //     td{
    //         // border: 1px solid #ccc;
    //         border: 1px solid #cccccc75;
    //         padding: 4px 16px;
    //         color: $textColorBlackLight;
    //         font-family: $fontFamily;
    //     }
    // }

    // ::ng-deep thead{
    //     display: none;
    // }
    p{
        line-height: 2;
        margin-top: 0;
    }
}

