<div>
  <mat-toolbar class="search-bar">
      <button mat-icon-button (click)="searchMeal()" class="search-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>search</mat-icon>
      </button>
        <!-- <mat-form-field>
      <input matInput aria-label="search" [(ngModel)]="searchTerm" placeholder="Type to Search..."/>
    </mat-form-field> -->
      <input aria-label="search" [(ngModel)]="searchTerm" placeholder="Type to Search..."/>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="goToFav()" class="favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button (click)="goToAuth()" class="profile-icon" aria-label="Example icon-button with share icon">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
  <mat-toolbar class="nav-bar">
    <h1>Recipes</h1>
      <!-- <mat-form-field>
    <input matInput aria-label="search" [(ngModel)]="searchTerm" placeholder="Type to Search..."/>
  </mat-form-field> -->
    <span class="example-spacer"></span>
    <button mat-icon-button class="menu-icon" (click)="onToggle()" aria-label="Example icon-button with heart icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
</div>