$mainRedColor: #ba005c;
$lightRedColor: #fff8f8;
$whiteColor: #fff;
$textColorBlackLight: #333;
$textColorBlack: #111;
$grayColorDark: #757575;
$grayColorLight: #ccc;
$borderColor: #eee;


$normalSize: 16px;
$titleSize: 1.5rem;
$metaSize: 0.9rem;
$fieldSize: 0.85rem; // 14px

$fontWeightBold: 600;

$fontFamily: 'Segoe UI', sans-serif;