<mat-drawer-container class="example-container">
   <mat-drawer-content>
        <div>
            <app-header (toggleDrawer)="handleToggleDrawer()"></app-header>
            
                
                    <router-outlet> </router-outlet>
                
           
        </div>
    </mat-drawer-content>
     <mat-drawer #drawer mode="side" [opened]="isDrawerOpen" position="end">
        <nav>
            <ul>
                @for(link of links; track link.title){
                    <li><a routerLink="{{link.path}}" routerLinkActive="active" 
                        [routerLinkActiveOptions]="{exact: true}">{{link.title}}</a>
                    </li>

                }
            </ul>
        </nav>
     </mat-drawer>
</mat-drawer-container>
       

