<section id="hero">
    <div class="container">
        <article>
            <div>
                <h3>welcome</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae qui dolores quam, quod, laudantium officiis minima architecto itaque cum velit illum omnis corrupti! Soluta voluptatum at aspernatur, nesciunt quis magnam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae qui dolores quam, quod, laudantium officiis minima architecto itaque cum velit illum omnis corrupti! Soluta voluptatum at aspernatur, nesciunt quis magnam!</p>
            </div>
        </article>
    </div>
    <!-- hero section -->
</section>
<!-- @defer(on viewport){ -->
    <section id="categories">
        <div class="container">
        <app-categories-section />
        </div>
    </section>
<!-- }@placeholder{
    <h2>categories</h2>
} -->

<!-- @defer (on viewport){ -->
    <section id="recent">
        <div class="container">
            <h2>recent recipes</h2>
            <ul>
            @for (recipe of recentRecipes; track recipe.idMeal) {
                    <li class="recipe-li">
                        <app-recipe-item [recipeItem]="recipe" [path]="['/recipes', recipe.idMeal]" />
                    </li>
                }
            </ul>
        </div>
    </section>
<!-- }@placeholder{
    <h2>Recent Recipes</h2>
} -->

