@use './../../../styles/mixins' as *;

section{
    border: 1px solid #ccc;
    margin-bottom: 40px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    // width: 100%;

    h3{
        font-size: 12px;
        color: #111;
        line-height: 15px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .5px;
        display: inline-block;
        border-bottom: 1px solid #ba005c;
        margin:  0 0 25px 0;
        padding-bottom: 7px;
       
    }
}
.tags{
    display: flex;
    flex-wrap: wrap;
    .tag{
        font-size: 10px !important;
        color: #888 !important;
        line-height: 14px !important;
        letter-spacing: .5px;
        display: inline-block;
        background-color: #eee;
        text-decoration: none;
        padding: 4px 12px;
        text-transform: uppercase;
        margin: 0 7px 10px 0;
        transition: background-color .25s ease-in-out, color .25s ease-in-out;
        -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out;
    }
}
input{
    display: block;
    @include style-input;
    margin-bottom: 15px
}
button{
    @include style-button;
    width: 100%;
}




