@use './../../../styles/variables' as *;
@use './../../../styles/mixins' as *;

section{
    border: 1px solid $borderColor;
    margin-bottom: 40px;
    background-color: $whiteColor;
    padding: 20px;
    text-align: center;
    // width: 100%;

    h3{
        @include heads-style;
       
    }
}
.tags{
    display: flex;
    flex-wrap: wrap;
    .tag{
        font-size: 10px !important;
        color: #888 !important;
        line-height: 14px !important;
        letter-spacing: .5px;
        display: inline-block;
        background-color: $borderColor;
        text-decoration: none;
        padding: 4px 12px;
        text-transform: uppercase;
        margin: 0 7px 10px 0;
        transition: background-color .25s ease-in-out, color .25s ease-in-out;
        -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out;
    }
}
input{
    display: block;
    @include style-input;
    margin-bottom: 15px
}
button{
    @include style-button;
    width: 100%;
}




