<form (ngSubmit)="onSubmit()" [formGroup]="form">
    @if(isError()){
        <div class="error"><mat-icon>error</mat-icon> invalid username or password</div>
    }
    <input type="text" placeholder="username" formControlName = "username" required>
    <input type="password" placeholder="password" formControlName = "password" required minlength="8">

    <button type="submit" [disabled]="!form.valid">
        <div [appLoader]="isLoading()" [isButton]="true">
            <div class="text">Login</div>
        </div>
    </button>
    <a routerLink="signup">I don't have account</a>
</form>

<p>username: <span>emilys</span></p>
<p>paasword: <span>emilyspass</span></p>


