@use './../../../../styles/mixins' as *;

form{
    padding-top: 60px;
    position: relative;
}
input{
    @include style-input;
    margin-bottom: 25px;
}
button{
    @include style-button;
    display: block;
    margin-bottom: 25px;
}