@use './../../../../styles/variables' as *;
@use './../../../../styles/mixins' as *;

form{
    padding-top: 60px;
    position: relative;
}
input{
    @include style-input;
    margin-bottom: 25px;
}
button{
    @include style-button;
    display: block;
    margin-bottom: 25px;
    padding: 0 !important;
}
.text{
    width: 100%;
    height: 100%;
    background-color: $mainRedColor;
    color: $whiteColor;
    padding: 10px 20px;

}