/* You can add global styles to this file, and also import other style files */
// @import './styles/mixins';
@use './styles/variables' as *;

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


html, body, .example-container, mat-drawer-container {
  height: 100%;
  margin: 0;
}

*{
    box-sizing: border-box;
}
body{
    font-family: $fontFamily;
    color: $textColorBlackLight;
}
p{
  color: $textColorBlackLight;
}
h1, h2, h3{
    font-family: inherit;
    font-weight: $fontWeightBold;
}

