/* You can add global styles to this file, and also import other style files */
// @import './styles/mixins';
@use './styles/variables' as *;

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


html, body, .example-container, mat-drawer-container {
  height: 100%;
  margin: 0;
}

*{
    box-sizing: border-box;
}
body{
    font-family: $fontFamily;
    color: $textColorBlackLight;
}
p{
  color: $textColorBlackLight;
}
h1, h2, h3{
    font-family: inherit;
    font-weight: $fontWeightBold;
}
.error{
  position: absolute;
  // top: 30px;
  top: 0;
  left: 0;
  // border: 1px solid $mainRedColor;
  border-radius: 4px;
  padding: 8px 12px;
  background-color: $lightRedColor;
  color: $mainRedColor;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: 14px;
  mat-icon{
    vertical-align: middle;
  }
}

