@use './../../../styles//mixins' as *;

.container{
    display: grid;
    column-span: 12;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    padding: 40px 0;
    @include container;

    section{
        grid-column: span 12;
        @media(min-width: 768px){
            grid-column: span 8;
        }
        
    }
    article{
        grid-column: span 4;
        display: none;
        @media (min-width: 768px) {
            display: block;
        }
       
    }

    
}